<h1><a href="/">HOME</a></h1>
<h1><a href="/logout/">Logout</a></h1>
<title> Bug Tracker </title>

<div align="center">
    <div align="right">
    <h2>Total tickets: {{Total_count}}</h2>
    <h2>New tickets: {{N_count}}</h2>
    <h2>In progress tickets: {{InP_count}}</h2>
    <h2>Completed tickets: {{D_count}}</h2>
    <h2>Invalid tickets: {{InV_count}}</h2>
    </div>

    <h1><p><a href="/createticket/">SUBMIT TICKET</a></p></h1>

    <div align="center">
        {% for ticket in data %}
            {%if "N" in ticket.status%}
                <h2 align="center">New Ticket</h2>
                <p align="center">Title: <a href="/ticketinfo/{{ticket.id}}/">{{ticket.title}}</a></p>
                <p align="center">Ticket Id: {{ticket.id}}</p>
                <p align="center">Reported By: <a href="filerinfo/{{ticket.ticketfiler.id}}">{{ticket.ticketfiler}}</a></p>
                <p align="center">Date Submitted: {{ticket.datetime}}</p>
                <h1 align="center">-------------------------------------------------------------------</h1>
    </div>
    {%endif%}
    {%endfor%}


    <div align="center">
        {% for ticket in data %}
            {%if "InP" in ticket.status%}
                <h2 align="center">In Progress Ticket</h2>
                <p align="center">Title: <a href="/ticketinfo/{{ticket.id}}/">{{ticket.title}}</a></p>
                <p align="center">Ticket Id: {{ticket.id}}</p>
                <p align="center">Reported By: <a href="filerinfo/{{ticket.ticketfiler.id}}">{{ticket.ticketfiler}}</a></p>
                <p align="center">Date Submitted: {{ticket.datetime}}</p>
                <h1 align="center">-------------------------------------------------------------------</h1>
    </div>
    {%endif%}
    {%endfor%}


    <div align="center">
        {% for ticket in data %}
            {%if "D" in ticket.status%}
                <h2 align="center">Completed Ticket</h2>
                <p align="center">Title: <a href="/ticketinfo/{{ticket.id}}/">{{ticket.title}}</a></p>
                <p align="center">Ticket Id: {{ticket.id}}</p>
                <p align="center">Reported By: <a href="filerinfo/{{ticket.ticketfiler.id}}">{{ticket.ticketfiler}}</a></p>
                <p align="center">Date Submitted: {{ticket.datetime}}</p>
                <h1 align="center">-------------------------------------------------------------------</h1>
    </div>
    {%endif%}
    {%endfor%}


    <div align="center">
            {% for ticket in data %}
                {%if "InV" in ticket.status%}
                    <h2 align="center">Invalid Ticket</h2>
                    <p align="center">Title: <a href="/ticketinfo/{{ticket.id}}/">{{ticket.title}}</a></p>
                    <p align="center">Ticket Id: {{ticket.id}}</p>
                    <p align="center">Reported By: <a href="filerinfo/{{ticket.ticketfiler.id}}">{{ticket.ticketfiler}}</a></p>
                    <p align="center">Date Submitted: {{ticket.datetime}}</p>
                    <h1 align="center">-------------------------------------------------------------------</h1>
    </div>
    {%endif%}
    {%endfor%}

</div>